<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>137566180405-bra69v7trmor5v7fefnoqof1a9cm8e22.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137566180405-bra69v7trmor5v7fefnoqof1a9cm8e22</string>
	<key>API_KEY</key>
	<string>AIzaSyD-ZiBP4Nmx5MT9ZVFRprZ8Gh6FmVnSQw0</string>
	<key>GCM_SENDER_ID</key>
	<string>137566180405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MAURICIO.PRUEBA</string>
	<key>PROJECT_ID</key>
	<string>azteca-4b45c</string>
	<key>STORAGE_BUCKET</key>
	<string>azteca-4b45c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137566180405:ios:098732dacbfa25efddcd7c</string>
</dict>
</plist>